<div class="text-center">
	<h1>Let's make this happen!<h1>
</div>

<div class="well well-sm">
	<h3>Your Order:</h3>
	<p>Make her order appear here!</p>
</div>

<div class="btn btn-default">
  <%= link_to "Let's Eat", complete_path %> 
</div>	